#skills{

    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.image-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 5%;
}

.skills h2{
    color: #582f0e;
}

.image-container .image img{
 
    width: 100%;
    height: auto;
    
}
.image{
    padding: 10px;
    width: 80px;
    height: 100px;
    object-fit: cover;
}