.about{
    background-color: #a98467;
    width: 100%;
    height: 93%;
   
}

.info h1, .about h1{
    color: #ffead8;
    font-family: "Poppins", sans-serif;
}


.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #582f0e;
}

.info{
    color:#582f0e;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}