#contact{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    position:relative;
}
#contact p{
    color: #582f0e ;
}